.titleContainer{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 2rem;
}
.title{
  color: #E33D33;
  text-align: center;
  font-size: 3rem;
  margin-right: .4rem;
}
.title span{
  color: #333;
}
.pokemonContainer{

  padding:2rem 9%;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr)); 
  gap: 2rem;
  margin:auto;
}

.home{
  padding:2rem 9%;
  margin-bottom: 5rem;
}
.slide{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:2rem;
  padding-top:3rem;
}
.content{
  flex:1 1 45rem;
}
.image{
  flex:1 1 45rem;
}
.image img{
  width:100%;
}
.content span{
  color:rgb(233, 13, 13);
  font-size:3rem;
}
.content h3{
  color:#333;
  font-size:5rem; 
}
.content p{
  color:#999;
  font-size:1.8rem;
  padding:2rem 0;
  line-height: 1.5;
}
.btn{
  margin-top: -1rem;
  display:inline-block;
  font-size:1.3rem;
  color:#fff;
  background-color: #333;
  border-radius: .3rem;
  cursor:pointer;
  padding:.5rem 2rem;
  text-decoration: none;
}